<nav class="bg-blue-600 text-white p-4 flex justify-between items-center">
    <div class="text-xl font-bold">Gym Routine</div>
    <ul class="flex gap-4">
        <li>
            <a routerLink="/" routerLinkActive="text-yellow-300" class="hover:text-yellow-300 transition">
                <i class="pi pi-home mr-1"></i> Home
            </a>
        </li>
        <li>
            <a routerLink="/ejercicios" routerLinkActive="text-yellow-300" class="hover:text-yellow-300 transition">
                <i class="pi pi-list mr-1"></i> Ejercicios
            </a>
        </li>
        <li>
            <a routerLink="/rutina" routerLinkActive="text-yellow-300" class="hover:text-yellow-300 transition">
                <i class="pi pi-calendar mr-1"></i> Rutina
            </a>
        </li>
    </ul>
</nav>